.hero-section {

    &__team-img {
        width: 350px;
        height: 350px;
    }

    &__img-conteiner {
        display: flex;
        justify-content: space-around;
    }

    &__name {
        text-align: center;
        font-size: 23px;

        span {
            color: red;
        }
    }

    &__button {
        background-color: var(--color-primary-light);
        cursor: pointer;
        border: 1px solid var(--color-primary-light);
        color: var(--color-white);
        padding: 8px;

        &:hover {
            background-color: transparent;
            color: var(--color-primary-light);
        }
    }

}
